@font-face {
    font-family: 'ChangwonDangamRounded';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/ChangwonDangamRound-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

body, input, button, ul, li {
    font-family: 'ChangwonDangamRounded', sans-serif;
    letter-spacing: 2px;
}

body {
    /* background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    text-align: center;
    align-items: center;
    font-size: 30px;
}

#greeting {
    font-size: 45px;
    margin-top: 20px;
    padding: 20px;
    font-weight: 700;
}

.input-area {
    display: flex;
    height: 65px;
    gap: 10px;
    padding: 20px;
}

#nameInput {
    flex: 1;
    font-size: 30px;
    padding: 10px;
    border: none;
    align-self: flex-end;
    border-bottom: 2px solid #000000a6;
    outline: none;
}

#saveNameBtn {
    padding: 10px;
    width: 100px;
    font-size: 30px;
    background-color: black;
    color: white;
}

#todoInput {
    flex: 1;
    font-size: 30px;
    padding: 10px;
    border: none;
    align-self: flex-end;
    border-bottom: 2px solid #000000a6;
    outline: none;
}

#addTodoBtn {
    padding: 10px;
    width: 100px;
    font-size: 30px;
    background-color: black;
    color: white;
}

li {
    list-style: none;
    display: flex;
    gap: 8px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.checked {
    text-decoration: line-through rgba(255, 0, 0, 0.7);
}

#todoList li {
    position: relative;
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #dadada84;
  }

  #todoList input[type="checkbox"] {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
  }

  #todoList li span {
    padding-left: 60px;
    position: relative;
    pointer-events: none;
  }
  
  #todoList li span::before {
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-image: url("./images/before.png");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
  }
  
#todoList input[type="checkbox"]:checked + span::before {
    background-image: url("./images/after.png"); 
  }
  