@font-face {
    font-family: 'OngleipRyuryu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

body, input, button, ul, li {
    font-family: 'OngleipRyuryu', sans-serif;
    letter-spacing: 2px;
}

body {
    /* background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    text-align: center;
    align-items: center;
    font-size: 35px;
}

#greeting {
    font-size: 60px;
    margin-top: 40px;
    padding: 30px;
    font-weight: 700;
}

.input-area {
    display: flex;
    height: 65px;
    gap: 10px;
    padding: 20px 50px;
}

#nameInput {
    flex: 1;
    font-size: 35px;
    padding: 10px;
    border: none;
    align-self: flex-end;
    border-bottom: 2px solid #000000a6;
    outline: none;
}

#saveNameBtn {
    padding: 10px;
    width: 100px;
    font-size: 35px;
    background-color: black;
    color: white;
}

#todoInput {
    flex: 1;
    font-size: 35px;
    padding: 10px;
    border: none;
    align-self: flex-end;
    border-bottom: 2px solid #000000a6;
    outline: none;
}

#addTodoBtn {
    padding: 10px;
    width: 100px;
    font-size: 35px;
    background-color: black;
    color: white;
}

li {
    list-style: none;
    display: flex;
    gap: 8px;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    gap: 45px;
}

.checked {
    text-decoration: line-through rgba(255, 0, 0, 0.7);
}

#todoList li {
    position: relative;
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #dadada84;
  }

#todoList input[type="checkbox"] {
    margin-bottom: 0px;
    appearance: none;
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url('./images/before.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }
  
  #todoList input[type="checkbox"]:checked {
    background-image: url('./images/after.png');
  }

  #editTodoInput {
    flex: 1;
    font-size: 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
  }